@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Rubik+Marker+Hatch&display=swap');
nav{
    font-family: 'Rubik Marker Hatch', cursive;
}
body{
    font-family: 'Patrick Hand', cursive;
}
textarea{
    display:block;
    border: 1px solid yellow;
    width: 80%;
    height: 20vh;
    margin: 1rem;
    padding: 1rem;
}
button{
    margin-left: 1rem;
}
#output{
    border:1px solid yellow;
    width: 80%;
    height: 20vh;
    margin: 1rem;
    padding: 1rem;
}

.navigation{
    background-color: yellow;
    text-align: center;
    font-size: 1.5rem;
    color: brown;
    padding: .01rem;
}
.container{
    margin: 1rem;
}
#btn-translate{
    padding: .2rem .5rem;
    border-radius: .8rem;
    background-color: yellow;
    font-size: medium;
    font-family: 'Patrick Hand', cursive;
    cursor:pointer;
}
#output,#txtinput{
    font-family: 'Patrick Hand', cursive;
    font-size: medium;
}
footer{
    padding: .1rem;
    background-color: yellow;
    text-align: center;
    font-size: medium;
}